@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: 'Roboto';
  background-color: #ecf2f8;
  font-size: 15px; }

.card {
  display: flex;
  max-width: 1440px;
  margin: 80px auto;
  justify-content: center; }
  .card-main {
    flex-basis: 80%;
    display: flex;
    flex-wrap: wrap; }
    .card-main-section {
      display: flex; }
  .card-aside {
    color: #48556a;
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    flex-basis: 20%; }
  .card-avatar {
    color: white;
    background-color: #7541c8;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    position: relative;
    order: 1;
    flex-basis: 65%; }
    .card-avatar__space {
      margin: 0px; }
      .card-avatar__space--bottom {
        margin-bottom: 0px; }
    .card-avatar__img {
      float: left;
      /*Colocar la img al lado del texto*/
      border-radius: 50%;
      /*Permite poner la imagen circular*/
      padding: 5px; }
    .card-avatar__quotes {
      float: right;
      position: absolute;
      top: 0px;
      right: 70px; }
    .card-avatar--opacity {
      opacity: 0.5; }
      .card-avatar--opacity--seventy {
        opacity: 0.7; }
  .card-avatar--jonathan {
    color: white;
    background-color: #48556a;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    order: 2;
    flex-basis: 35%; }
  .card-avatar--jean {
    color: #48556a;
    background-color: white;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    order: 3;
    flex-basis: 35%; }
  .card-avatar--patrick {
    color: white;
    background-color: #19212e;
    border-radius: 7px;
    padding: 5px;
    margin: 10px;
    order: 4;
    flex-basis: 65%; }

@media screen and (max-width: 400px) {
  .card {
    flex-direction: column; }
    .card-main {
      flex-direction: column; }
      .card-main-section {
        flex-direction: column; } }
