@import "../theme/theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.card {
    display: flex;
    max-width: 1440px;
    margin: 80px auto;
    justify-content: center;

    &-main {
        flex-basis: 80%;
        display: flex;
        flex-wrap: wrap;

        &-section {
            display: flex;
        }
    }

    &-aside {
        @include color($dark-grayish-blue, $white);
        flex-basis: 20%;
    }

    &-avatar {
        @include color($white, $violet);
        position: relative;
        order: 1;
        flex-basis: 65%;

        &__space {
            margin: 0px;
            &--bottom {
                margin-bottom: 0px;
            }
        }

        &__img {
            float: left;
            border-radius: 50%;
            padding: 5px;
        }

        &__quotes {
            float: right;
            position: absolute;
            top: 0px;
            right: 70px;
        }

        &--opacity {
            opacity: 0.5;
            &--seventy {
                opacity: 0.7;
            }
        }

        &--jonathan {
            @include color($white, $dark-grayish-blue);
            order: 2;
            flex-basis: 35%;
        }
    
        &--jean {
            @include color($dark-grayish-blue, $white);
            order: 3;
            flex-basis: 35%;
        }
    
        &--patrick {
            @include color($white, $dark-blue);
            order: 4;
            flex-basis: 65%;
        }
    }
}

@media screen and (max-width: 800px) {
    .card {
        flex-direction: column;
        &-main {
            flex-direction: column;
            &-section {
                flex-direction: column;
            }
        }
    }
}
